$background: #333333;
$hover: #69bccc;
@mixin transition($color, $seconds) {
  -webkit-transition: $color $seconds;
  -moz-transition: $color $seconds;
  -ms-transition: $color $seconds;
  -o-transition: $color $seconds;
  transition: $color $seconds;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 900;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: flex;
    zoom: 1;
    li {
      display: flex;
      padding: 0;
      margin: 0;
      a {
        color: $background;
        text-decoration: none;
        display: flex;
        padding: 15px 25px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        @include transition(color, .25s);
        &:hover {
          color: $hover;
          &:before {
            width: 100%;
          }
        }
        &:after {
          content: "";
          display: flex;
          position: absolute;
          right: -3px;
          top: 19px;
          height: 6px;
          width: 6px;
          background: $background;
          opacity: .5;
        }
        &:before {
          content: "";
          display: flex;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          width: 0;
          background: $background;
          @include transition(width, .25s);
        }
      }
      &.last > a:after, &:last-child > a:after {
        display: none;
      }
      &.active a {
        color: $background;
        &:before {
          width: 100%;
        }
      }
    }
    &:after {
      content: " ";
      display: flex;
      font-size: 0;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
}
